
    <div class="widget menu">
        <div class="widget-name">cs skills</div>
        <ul class="metismenu" id="side-menu">
            <li> <a class="has-arrow" href="javascript: void(0);" aria-expanded="false">Algorithm</a>
                <ul class="mm-collapse menu-second">
                    <li><a href="{{site.baseurl}}/categories/technique">Techniques</a></li>
                    <li><a href="{{site.baseurl}}/categories/problemsolving">Problem Solving</a></li>
                    <li><a href="{{site.baseurl}}/categories/datastructure">Data Structure</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript: void(0);" aria-expanded="false">Web</a>
                <ul class="mm-collapse menu-second">
                    <li><a href="{{site.baseurl}}/categories/javaweb">JSP & Servlet</a></li>
                    <li><a href="{{site.baseurl}}/categories/spring">Spring</a></li>
                    <li><a href="{{site.baseurl}}/categories/javascript">JavaScript</a></li>
                </ul>
            </li>

            <li>
                <a href="{{site.baseurl}}/categories/database"><span> DataBase </span></a>
            </li>

            <li>
                <a href="{{site.baseurl}}/categories/tip"><span> Tips </span></a>
            </li>

            <li>
                <a href="{{site.baseurl}}/categories/project"><span> Projects </span></a>
            </li>

        </ul>
    </div>