<div class="mobile-nav">
    <button class="mobile-menu"><i class="fas fa-bars"></i></button>
</div>


<div class="nav">
    <div class="description">
        <div class="logo"><a href="{{site.baseurl}}/index.html">
                <img src="{{site.baseurl}}/assets/img/logo.png" alt=""></a>
        </div>
        <div class="myword"> {{site.my_word}}</div>
    </div>

    <div class="widget aboutme">
        <div class="widget-name">about me</div>
        <!-- <img src="{{site.baseurl}}/assets/img/profile.jpg" alt=""> -->
        <p> {{site.about_me}}</p>
    </div>

    {% include menu.html %}

    <div class="widget contact">
    <div class="widget-name">contact</div>
        <ul>
            <li><a href="http://github.com/{{site.github_username}}"><i class="fab fa-github"></i></a></li>
            <li><a href="{{site.baseurl}}/instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>

</div>