<nav>
    <div class="mini-nav">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <ul class="main-menu">
        <div class="wrapper">
            <li class="main-menu-item">Algorithm
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="{{site.baseurl}}/categories/ps">Programm Solving</a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="wrapper">
            <li class="main-menu-item">Web
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="#">a</a>
                    </li>
                    <li class="submenu-item">
                        <a href="#">Mockupsssssss</a>
                    </li>
                </ul>

            </li>
        </div>
        <div class="wrapper">
            <li class="main-menu-item">Projects</li>
        </div>

    </ul>
</nav>