
<div class="sidebar">

    <div class="widget">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>
    <div class="widget aboutme">
        <div class="widget-name">about me</div>
        <!-- <img src="{{site.baseurl}}/assets/img/profile.jpg" alt=""> -->
        <p> {{site.about_me}}</p>
    </div>
    <div class="widget contact">
        <div class="widget-name">contact</div>
            <ul>
                <li><a href="http://github.com/{{site.github_username}}"><i class="fab fa-github"></i></a></li>
                <li><a href="{{site.baseurl}}/instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

</div>