*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #262626;
    padding: 2px;
}

html{
    background: #FAFAFA;
    color: #262626;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.wrapper{
    height: 100vh;
    width: 935px;
    margin: 0 auto 30px;
}


/* header */
.header{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.profile img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 50px;
}

.name{
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
}

.desc p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* cards */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background: #FEFEFE;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    width: 500px;
    height: auto;
    margin-bottom: 60px; 
}

.card .title{
    font-size: 14px;
    font-weight: 600;
    padding: 16px 40px 16px 16px;
}

.photo img {
    width: 100%;
}

.card-wrapper{
    padding : 0px 10px;
}

.card i{
    font-size: 20px;
    padding: 6px;
    color: #343434;
}
.card i:hover{
    color: #ED4956;
}

.desc{
    padding: 6px;
    font-size: 14px;
}

.date{
    font-size: 10px;
    color: #999;
    padding: 6px;
    padding-bottom: 16px;


}