<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>having, doing, and being</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/styles/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

</head>
<body>

    <header>
        <h1> <a href="{{site.url}}"> having, doing, and being </a></h1>
    </header>

    {% include nav.html %}

    {{content}}

    <footer>
    </footer>

    <script src="{{site.baseurl}}/assets/styles/nav.js"></script>

</body>
</html>