<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/index.css">
    <script src="https://kit.fontawesome.com/7a64f1c72a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/metismenu/dist/metisMenu.min.css">

</head>

<body>

    <div class="whole-page">

        {% include nav.html %}

        <div class="outer-contents">
            
            {{content}}

        </div>

        {% include sidebar.html %}
    </div>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/metismenu"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>